body {
    font-family: 'Gill Sans', sans-serif;
}

div {
    text-align: center;
  }

h1 {
  font-family: 'Gill Sans', sans-serif;
  text-shadow: 0.5px 0.5px 0.5px #000, 
               4px 4px 4px orangered;
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

button {
    background-color:orangered;
    border: none;
    color: blanchedalmond;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Gill Sans', sans-serif;
}

#change-mode {
  margin-bottom: 15px;
}

#start-quiz {
   margin-bottom: 20px;
}
  
#quiz-head {
  border-radius: 25px;
  margin: auto;
  width: 40%;
  margin-bottom: 20px;
}
  
#quiz {
  border-style: solid;
  border-width: medium;
  border-radius: 25px;
  margin: auto;
  width: 40%;
  margin-bottom: 20px;
  padding: 27px;
}

#next-question {
  margin-top: 7px;
  margin-bottom: 15px;
}

#results {
  border-style: solid;
  border-width: medium;
  border-radius: 25px;
  margin: auto;
  width: 40%;
  margin-bottom: 20px;
  padding: 20px;
}

#show-results {
    margin-top: 25px;
}

ol {
  margin-top: 25px;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#restart-quiz {
    margin-bottom: 25px;
}